.featureIconContainer {
    background: #e8eaf6;
    border-radius: 9px;
    text-align:center;
    display: inline-block;
    width: 3em;
    height: 3em;
    margin-right: 1em;
    vertical-align: middle;
    align-items: center;
    align-content: center;
}

.featureIconContainer:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.featureIcon {
    font-size: 1.5rem;
    color: var(--gamma-blue);
    text-align: center;
    vertical-align: middle;
}

.featureTitle {
    color: var(--ifm-color-content);
    line-height: 42px;
    font-size: 1.25rem;
    text-align: left;
    font-weight: 700;
}

.featureText {
    font-weight: 400;
    line-height: 1.75;
    text-align: left;
    color: var(--ifm-color-content);
}

.featureCard {
    border: 1px solid var(--gamma-light-blue);
    border-radius: 4px;
    opacity: 1;
    transition:box-shadow .28s ease-in-out, -webkit-box-shadow .28s ease-in-out;
}

.featureCard:hover {
    opacity: 1;
    box-shadow:0 2px 6px 0 rgba(60,64,67,0.05),0 8px 16px 6px rgba(60,64,67,0.15) !important;    
}

.featureCardLift:hover {
    transform: translate3d(0,-5px,0);
}

/*
html[data-theme='dark'] .downloadIcon {
    color: var(--white) !important;
}
*/

.learnMore {
    vertical-align: middle;
    text-align: right;
    line-height: 24px;
  }
  
  .learnMoreLink {
    color: #5c6bc0;
    font-size: 1rem;
    font-weight: bold;
  }
  
  .learnMoreLink:hover {
    text-decoration: none;
    color: var(--gamma-light-blue);
  }